<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>30:70</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper flex">
        <div class="left">
            This is the left part.With the width of 30% of the parent element.
        </div>
        <div class="right">
            This is the right part.
            <br>
            <br>
            <br>
            With the width of 70% of the parent element.
        </div>
    </div>
</body>

</html>